# crypto-bank

[![crypto-bank](https://img.shields.io/badge/project-crypto%20bank-blue.svg?style=flat-square)](//github.com/crypto-bank)
[![Build status](https://travis-ci.org/crypto-bank/crypto-bank.svg?branch=master)](https://travis-ci.org/crypto-bank/crypto-bank)
[![docs.rs](https://docs.rs/crypto-bank/badge.svg)](https://docs.rs/crypto-bank)

crypto-bank software development kit.

|  title           | build  | docs.rs  |
|------------------|---|---|{{range $k, $v := .modules}}
| [{{$v.title}}](https://github.com/crypto-bank/{{$k}}) | [![Build status](https://travis-ci.org/crypto-bank/{{$k}}.svg?branch=master)](https://travis-ci.org/crypto-bank/{{$k}}) | [![docs.rs](https://docs.rs/{{$k}}/badge.svg)](https://docs.rs/{{$k}})  |{{end}}

## License

                                 Apache License
                           Version 2.0, January 2004
                        http://www.apache.org/licenses/
